<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitalik.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/catalog_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.vitalik.todolist.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vitalik.todolist.ItemAdd"
            android:label="@string/title_activity_item_edit"
            android:parentActivityName="com.example.vitalik.todolist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vitalik.todolist.MainActivity" />
        </activity>
        <activity
            android:name="com.example.vitalik.todolist.ItemEdit"
            android:label="@string/title_activity_item_edit"
            android:parentActivityName="com.example.vitalik.todolist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vitalik.todolist.MainActivity" />
        </activity>
        <activity
            android:name="com.example.vitalik.todolist.ItemShow"
            android:label="@string/title_activity_item_show"
            android:parentActivityName="com.example.vitalik.todolist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vitalik.todolist.MainActivity" />
        </activity>
    </application>

</manifest>
